<a href="https://colab.research.google.com/github/himanshuarora1703/Tutorial-notebooks/blob/main/Backpropagation%20in%20ANN/backpropagation_from_scratch_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.DataFrame([[8,8,4],[7,9,5],[6,10,6],[5,12,7]], columns=['cgpa', 'profile_score', 'lpa'])

In [ ]:
df

   cgpa  profile_score  lpa
0     8              8    4
1     7              9    5
2     6             10    6
3     5             12    7

In [ ]:
def initialize_parameters(layers):
    l = layers
    params_dict = {}
    for i in range(1,len(layers)):
        params_dict['W'+str(i)] = np.ones(shape=(l[i-1],l[i])) * 0.1
        params_dict['b'+str(i)] = np.zeros(shape=(l[i],1))

    return params_dict

params = initialize_parameters([2,2,1])

In [ ]:
def calculate_z(W,b,A):
    z = np.dot(W.T,A) + b
    return z

In [ ]:
def fwd_propagation(X,parameters):  
    A = X   # input to the layer
    layers = len(parameters) // 2       # Length of layer
    output_dict = {}
    
    for l in range(1,layers + 1):
        
        A_prev = A
        W = parameters['W'+str(l)]
        b = parameters['b'+str(l)]
        output_dict['W'+str(l)] = W
        output_dict['b'+str(l)] = b
        output_dict['A'+str(l-1)] = A_prev
        A = calculate_z(W,b,A_prev)
        output_dict['A'+str(l)] = A
    
    y_pred = A
    
    print(output_dict)
    return A_prev,y_pred

In [ ]:
X = df.iloc[0,[0,1]].values.reshape(2,1)
X

array([[8],
       [8]])

In [ ]:
y = df.iloc[0,[-1]][0]
y

4

In [ ]:
fwd_propagation(X,params)

{'W1': array([[0.1, 0.1],
       [0.1, 0.1]]), 'b1': array([[0.],
       [0.]]), 'A0': array([[8],
       [8]]), 'A1': array([[1.6],
       [1.6]]), 'W2': array([[0.1],
       [0.1]]), 'b2': array([[0.]]), 'A2': array([[0.32]])}

(array([[1.6],
        [1.6]]), array([[0.32]]))

In [ ]:
def update_weights():