<a href="https://colab.research.google.com/github/himanshuarora1703/Tutorial-notebooks/blob/main/Feature%20Encoding/One_Hot_Encoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [19]:
df = pd.read_csv('/content/cars.csv')
df

        brand  km_driven    fuel                 owner  selling_price
0      Maruti     145500  Diesel           First Owner         450000
1       Skoda     120000  Diesel          Second Owner         370000
2       Honda     140000  Petrol           Third Owner         158000
3     Hyundai     127000  Diesel           First Owner         225000
4      Maruti     120000  Petrol           First Owner         130000
...       ...        ...     ...                   ...            ...
8123  Hyundai     110000  Petrol           First Owner         320000
8124  Hyundai     119000  Diesel  Fourth & Above Owner         135000
8125   Maruti     120000  Diesel           First Owner         382000
8126     Tata      25000  Diesel           First Owner         290000
8127     Tata      25000  Diesel           First Owner         290000

[8128 rows x 5 columns]

In [3]:
# check the info of the dataframe

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   brand          8128 non-null   object
 1   km_driven      8128 non-null   int64
 2   fuel           8128 non-null   object
 3   owner          8128 non-null   object
 4   selling_price  8128 non-null   int64
dtypes: int64(2), object(3)
memory usage: 317.6+ KB

In [4]:
# make x and y

X = df.drop(columns='selling_price')
y = df['selling_price']

In [5]:
# Do train test split

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

X_train.shape,X_test.shape

((6502, 4), (1626, 4))

In [6]:
from sklearn.preprocessing import OneHotEncoder

In [8]:
# check the categories
# check the value counts in columns

for col in df.columns[[0,2,3]]:
  print(col,df[col].unique())

brand ['Maruti' 'Skoda' 'Honda' 'Hyundai' 'Toyota' 'Ford' 'Renault' 'Mahindra'
 'Tata' 'Chevrolet' 'Fiat' 'Datsun' 'Jeep' 'Mercedes-Benz' 'Mitsubishi'
 'Audi' 'Volkswagen' 'BMW' 'Nissan' 'Lexus' 'Jaguar' 'Land' 'MG' 'Volvo'
 'Daewoo' 'Kia' 'Force' 'Ambassador' 'Ashok' 'Isuzu' 'Opel' 'Peugeot']
fuel ['Diesel' 'Petrol' 'LPG' 'CNG']
owner ['First Owner' 'Second Owner' 'Third Owner' 'Fourth & Above Owner'
 'Test Drive Car']

In [27]:
# check the value counts for brand

counts = df['brand'].value_counts()
threshold = 100
thresh_index = counts[(counts >= 100)].index

X_train['brand'] = X_train['brand'].apply(lambda x: np.where(x in thresh_index,x,'others'))

X_test['brand'] = X_test['brand'].apply(lambda x: np.where(x in thresh_index,x,'others'))

In [36]:
X_train[['brand','fuel','owner']].nunique().sum()-3

19

In [28]:
# do the transformations

from sklearn.compose import ColumnTransformer

ohe= OneHotEncoder(drop='first',sparse=False,dtype=np.int16)
trans = ColumnTransformer(transformers=[
    ('ohe',ohe,['brand','fuel','owner'])
])

In [29]:
X_train_trans = trans.fit_transform(X_train)
X_test_trans = trans.transform(X_test)

In [31]:
X_test_trans.shape

(1626, 19)